# List

List comprehensions are a powerful and concise way to create lists in Python. They are syntactically compact and can replace more verbose looping constructs. Understanding the syntax of list comprehensions will help you write cleaner and more efficient Python code.

In [ ]:
lst = []
print(type(lst))

In [ ]:
lst   = ["sushil","saket","suman"]
print(lst)

In [ ]:
mixed_lst = ["Sushil",27,5.9,True]
print(mixed_lst)

In [ ]:
# Accessing elements of list
fruits = ["apple","banana","cherry","dates","grapes","guava","kiwi","orange","papaya"]
print(fruits[1])

In [ ]:
fruits.append("coconut")
print(fruits)

In [ ]:
fruits[2] = "mango"
print(fruits)

In [ ]:
print(fruits[1:])

In [ ]:
print(fruits[:3])

In [ ]:
print(fruits[2:4])

In [ ]:
print(fruits[-1])

In [ ]:
print(fruits[-3:-1])

In [ ]:
print(fruits[3:-3])

In [ ]:
print(fruits[::2])

In [ ]:
print(fruits[0:9:2])

In [ ]:
fruits.remove("banana") # removeing first occurance of banana
print(fruits)

In [ ]:
poped = fruits.pop() # remove and return element at last index
print(poped)
print(fruits)

In [ ]:
fruits.reverse()
print(fruits)

In [ ]:
## Slicing List
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

In [ ]:
### Iterating Over List

for number in numbers:
    print(number)

In [ ]:
## Iterating with index
for index,number in enumerate(numbers):
    print(index,number)

In [ ]:
## List comprehension
lst=[]
for x in range(10):
    lst.append(x**2)

print(lst)

In [ ]:
short_lst =[x**2 for x in range(10)]
short_lst

In [ ]:
### List Comprehension with Condition
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)

print(lst)

#### List Comprehension
Basics Syantax [expression for item in iterable]\
with conditional logic [expression for item in iterable if condition]\
Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [ ]:
even_numbers=[num for num in range(10) if num%2==0]
print(even_numbers)

In [ ]:
## Nested List Comphrension

lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[[i,j] for i in lst1 for j in lst2]

print(pair)

In [ ]:
## List Comprehension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]
print(lengths)  # Output: [5, 5, 6, 4, 13]

# Tuple
Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.


Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.

In [74]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [75]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [76]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [77]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [78]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [79]:
print(numbers[2])
print(numbers[-1])

3
6

In [80]:
numbers[0:4]

(1, 2, 3, 4)

In [81]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [82]:
## Tuple Operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [83]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [84]:
numbers *3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [85]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="Sushil"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Sushil', 3, 4, 5]

In [95]:
tpl=(1,2,3,4,5)
print(tpl)

tpl[1]="Sushil"
print(tpl)

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [97]:
numbers

(1, 2, 3, 4, 5, 6)

In [86]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [87]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [88]:
##unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [89]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [90]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [91]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [92]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [93]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False