# List

Create a list of the first 20 positive integers. Print the list.

In [ ]:
positive_number = [num for num in range(1,21)]
print(positive_number)

Print the first, middle, and last elements of the list created in Assignment 1.

In [ ]:
print(f"First element = {positive_number[0]}")
mid = len(positive_number) // 2
print(f"Middle element = {positive_number[mid]}")
print(f"Last element = {positive_number[-1]}")

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [ ]:
print(f"First Five elements = {positive_number[:5]}")
print(f"last five element = {positive_number[-5:]}")
print(f"The elements from index 5 to 15 = {positive_number[4:15]}")

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [ ]:
square = [num**2 for num in range(1,11)]
print(square)

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [ ]:
even = [num for num in positive_number if num % 2 == 0]
print(even)

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [ ]:
random_list = [1,34,634,13,658,3,12237,67,1,90,9,12,658,1,768,13,6,65,2224,60,78,45,40,1,3,6,8,9,12,13,15,16,18,19,20]
asc_sorted_list = sorted(random_list)
print(f"Ascending order = {asc_sorted_list}")
desc_sorted_list = sorted(random_list, reverse=True)
print(f"Descending order = {desc_sorted_list}")
removed_duplicate = [num for num in random_list if random_list.count(num) == 1 ]
print(f"Only Unique elements = {removed_duplicate}")

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [ ]:
lst = [num for num in range(1,11)]
print(f"Original List = {lst}")
lst.remove(2)
lst.remove(4)
lst.remove(6)
print(f"List after removing even index elements = {lst}")
lst.insert(5,99)
print(f"List after inserting 99 at index 5 = {lst}")

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [ ]:
students = [
    {"name":"sushil", "score":90},
    {"name":"sagar", "score":75},
    {"name":"sachin", "score":56},
    {"name":"saket", "score":90},
    {"name":"manish", "score":23},
    {"name":"anki", "score":76},
    {"name":"amrita", "score":89},
    {"name":"rit", "score":99},
]

sorted_students = sorted(students, key=lambda x: x["score"],reverse=True)
[student for student in sorted_students ]

create a 3x3 matrix (nested list) and its transpose. Print the original and transposed matrices.

In [ ]:
matrix = [[1,2,3],
          [4,5,6],
          [7,8,9]]

print("Original matrix:")
for row in matrix:
    print(row)

transposed = [[row[i] for row in matrix] for i in range(3)]
print("Transposed matrix:")
for row in transposed:
    print(row)

# Tuple

Create a tuple with the first 10 positive integers. Print the tuple.

In [46]:
positive_tuple = tuple(num for num in range(1,11))
positive_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [47]:
first_element = positive_tuple[0]
mid = len(positive_tuple) // 2
middle_element = positive_tuple[mid]
last_element = positive_tuple[-1]
print(f"First element = {first_element}")
print(f"Middle element = {middle_element}") 
print(f"Last element = {last_element}")

First element = 1
Middle element = 6
Last element = 10

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [49]:
print(f"first three {positive_tuple[:3]}")
print(f"last three {positive_tuple[:-3]}")
print(f"from index 2 t0 5 = {positive_tuple[2:6]}")

first three (1, 2, 3)
last three (1, 2, 3, 4, 5, 6, 7)
from index 2 t0 5 = (3, 4, 5, 6)

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [53]:
tuple_matrix = ([1,2,3],[4,5,6],[7,8,9])
print("Original matrix:")
for row in tuple_matrix:
    print(row)

print(f"second row= {tuple_matrix[1]}")
print(f"second row= {tuple_matrix[2]}")

Original matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
second row= [4, 5, 6]
second row= [7, 8, 9]

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [54]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [61]:
number = (1,4,2,646,75,4,25,3,7,73,2437,225,7,32,64,2,7,57,96,2,5657,34)
num = 7
print(f"Number of {num} = {number.count(num)}")
print(f"Index of {num} = {number.index(num)}")

Number of 7 = 3
Index of 7 = 8

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [62]:
pack = (12,23,34,45,56,89)
a,b,c,d,e,f = pack
print(f"a == {a}")
print(f"b == {b}")
print(f"c == {c}")
print(f"d == {d}")
print(f"e == {e}")

a == 12
b == 23
c == 34
d == 45
e == 56

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [63]:
tuple1 = (1,2,3)
tuple2 = (12,23,34)
tuple3 = (99,11,55)
tuples = (tuple1,tuple2,tuple3)
print(tuples)

((1, 2, 3), (12, 23, 34), (99, 11, 55))

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [68]:
tuple1 = (1,2,3,4,5)
print(tuple1)
lst = list(tuple1)
print(lst)
lst.append(6)
print(lst)
tuple1 = tuple(lst)
print(tuple1)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [70]:
char_tuple = ('s','u','s','h','i','l')
print(char_tuple)
name = ''.join(char_tuple)
print(name)

('s', 'u', 's', 'h', 'i', 'l')
sushil

Create a nested tuple and iterate over the elements, printing each element.

In [71]:
nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
for tpl in nested_tuple:
    for num in tpl:
        print(num)

1
2
3
4
5
6
7
8
9

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [72]:
number = (1,4,2,646,75,4,25,3,7,73,2437,225,7,32,64,2,7,57,96,2,5657,34)
mySet = set(number)
print(mySet)

{32, 1, 2, 3, 4, 2437, 646, 7, 225, 73, 64, 75, 96, 34, 5657, 25, 57}