# List

Create a list of the first 20 positive integers. Print the list.

In [1]:
positive_number = [num for num in range(1,21)]
print(positive_number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Print the first, middle, and last elements of the list created in Assignment 1.

In [2]:
print(f"First element = {positive_number[0]}")
mid = len(positive_number) // 2
print(f"Middle element = {positive_number[mid]}")
print(f"Last element = {positive_number[-1]}")

First element = 1
Middle element = 11
Last element = 20

Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [3]:
print(f"First Five elements = {positive_number[:5]}")
print(f"last five element = {positive_number[-5:]}")
print(f"The elements from index 5 to 15 = {positive_number[4:15]}")

First Five elements = [1, 2, 3, 4, 5]
last five element = [16, 17, 18, 19, 20]
The elements from index 5 to 15 = [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [4]:
square = [num**2 for num in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [5]:
even = [num for num in positive_number if num % 2 == 0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [6]:
random_list = [1,34,634,13,658,3,12237,67,1,90,9,12,658,1,768,13,6,65,2224,60,78,45,40,1,3,6,8,9,12,13,15,16,18,19,20]
asc_sorted_list = sorted(random_list)
print(f"Ascending order = {asc_sorted_list}")
desc_sorted_list = sorted(random_list, reverse=True)
print(f"Descending order = {desc_sorted_list}")
removed_duplicate = [num for num in random_list if random_list.count(num) == 1 ]
print(f"Only Unique elements = {removed_duplicate}")

Ascending order = [1, 1, 1, 1, 3, 3, 6, 6, 8, 9, 9, 12, 12, 13, 13, 13, 15, 16, 18, 19, 20, 34, 40, 45, 60, 65, 67, 78, 90, 634, 658, 658, 768, 2224, 12237]
Descending order = [12237, 2224, 768, 658, 658, 634, 90, 78, 67, 65, 60, 45, 40, 34, 20, 19, 18, 16, 15, 13, 13, 13, 12, 12, 9, 9, 8, 6, 6, 3, 3, 1, 1, 1, 1]
Only Unique elements = [34, 634, 12237, 67, 90, 768, 65, 2224, 60, 78, 45, 40, 8, 15, 16, 18, 19, 20]

Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [7]:
lst = [num for num in range(1,11)]
print(f"Original List = {lst}")
lst.remove(2)
lst.remove(4)
lst.remove(6)
print(f"List after removing even index elements = {lst}")
lst.insert(5,99)
print(f"List after inserting 99 at index 5 = {lst}")

Original List = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List after removing even index elements = [1, 3, 5, 7, 8, 9, 10]
List after inserting 99 at index 5 = [1, 3, 5, 7, 8, 99, 9, 10]

Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [8]:
students = [
    {"name":"sushil", "score":90},
    {"name":"sagar", "score":75},
    {"name":"sachin", "score":56},
    {"name":"saket", "score":90},
    {"name":"manish", "score":23},
    {"name":"anki", "score":76},
    {"name":"amrita", "score":89},
    {"name":"rit", "score":99},
]

sorted_students = sorted(students, key=lambda x: x["score"],reverse=True)
[student for student in sorted_students ]

[{'name': 'rit', 'score': 99},
 {'name': 'sushil', 'score': 90},
 {'name': 'saket', 'score': 90},
 {'name': 'amrita', 'score': 89},
 {'name': 'anki', 'score': 76},
 {'name': 'sagar', 'score': 75},
 {'name': 'sachin', 'score': 56},
 {'name': 'manish', 'score': 23}]

create a 3x3 matrix (nested list) and its transpose. Print the original and transposed matrices.

In [9]:
matrix = [[1,2,3],
          [4,5,6],
          [7,8,9]]

print("Original matrix:")
for row in matrix:
    print(row)

transposed = [[row[i] for row in matrix] for i in range(3)]
print("Transposed matrix:")
for row in transposed:
    print(row)

Original matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Transposed matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

# Tuple

Create a tuple with the first 10 positive integers. Print the tuple.

In [10]:
positive_tuple = tuple(num for num in range(1,11))
positive_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [11]:
first_element = positive_tuple[0]
mid = len(positive_tuple) // 2
middle_element = positive_tuple[mid]
last_element = positive_tuple[-1]
print(f"First element = {first_element}")
print(f"Middle element = {middle_element}") 
print(f"Last element = {last_element}")

First element = 1
Middle element = 6
Last element = 10

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [12]:
print(f"first three {positive_tuple[:3]}")
print(f"last three {positive_tuple[:-3]}")
print(f"from index 2 t0 5 = {positive_tuple[2:6]}")

first three (1, 2, 3)
last three (1, 2, 3, 4, 5, 6, 7)
from index 2 t0 5 = (3, 4, 5, 6)

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [13]:
tuple_matrix = ([1,2,3],[4,5,6],[7,8,9])
print("Original matrix:")
for row in tuple_matrix:
    print(row)

print(f"second row= {tuple_matrix[1]}")
print(f"second row= {tuple_matrix[2]}")

Original matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
second row= [4, 5, 6]
second row= [7, 8, 9]

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [14]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [15]:
number = (1,4,2,646,75,4,25,3,7,73,2437,225,7,32,64,2,7,57,96,2,5657,34)
num = 7
print(f"Number of {num} = {number.count(num)}")
print(f"Index of {num} = {number.index(num)}")

Number of 7 = 3
Index of 7 = 8

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [16]:
pack = (12,23,34,45,56,89)
a,b,c,d,e,f = pack
print(f"a == {a}")
print(f"b == {b}")
print(f"c == {c}")
print(f"d == {d}")
print(f"e == {e}")

a == 12
b == 23
c == 34
d == 45
e == 56

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [17]:
tuple1 = (1,2,3)
tuple2 = (12,23,34)
tuple3 = (99,11,55)
tuples = (tuple1,tuple2,tuple3)
print(tuples)

((1, 2, 3), (12, 23, 34), (99, 11, 55))

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [18]:
tuple1 = (1,2,3,4,5)
print(tuple1)
lst = list(tuple1)
print(lst)
lst.append(6)
print(lst)
tuple1 = tuple(lst)
print(tuple1)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [19]:
char_tuple = ('s','u','s','h','i','l')
print(char_tuple)
name = ''.join(char_tuple)
print(name)

('s', 'u', 's', 'h', 'i', 'l')
sushil

Create a nested tuple and iterate over the elements, printing each element.

In [20]:
nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
for tpl in nested_tuple:
    for num in tpl:
        print(num)

1
2
3
4
5
6
7
8
9

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [21]:
number = (1,4,2,646,75,4,25,3,7,73,2437,225,7,32,64,2,7,57,96,2,5657,34)
mySet = set(number)
print(mySet)

{32, 1, 2, 3, 4, 2437, 646, 7, 225, 73, 64, 75, 96, 34, 5657, 25, 57}

In [22]:
def merge_lists_to_dictionary(keys, values):
    # Your code goes here
    return dict(zip(keys,values))


keys = ['a', 'b', 'c']
values = [1, 2]
merge_lists_to_dictionary(keys, values)

{'a': 1, 'b': 2}

# Set

Create a set with the first 10 positive integers. Print the set.

In [23]:
positive_set = {num for num in range(1,11)}
print(positive_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [24]:
positive_set.add(11)
print(positive_set)
positive_set.remove(1)
print(positive_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [25]:
set1 = {num for num in range(1,6)}
print(f"set1 == {set1}")
set2 = {num for num in range(1,11) if num%2==0}
print(f"set2 == {set2}")

union_set = set1.union(set2)
print(union_set)

intersection_set = set1.intersection(set2)
print(intersection_set)

diff = set1.difference(set2)
print(diff)

set1 == {1, 2, 3, 4, 5}
set2 == {2, 4, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [26]:
square_set = {num**2 for num in range(1,11)}
print(square_set)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [27]:
even_set = {num for num in positive_set if num%2==0}
print(even_set)

{2, 4, 6, 8, 10}

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [28]:
set1 = {1,2,3,4,5}
set2 = {1,2,3}
isSuperSet = set1.issuperset(set2)
print(isSuperSet)
isSubSet = set1.issubset(set2)
print(isSubSet)

True
False

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [29]:
frozen_set = frozenset(num for num in range(1,6))
print(frozen_set)

frozenset({1, 2, 3, 4, 5})

Create a set and iterate over the elements, printing each element.

In [30]:
set1 = {12,23,34,45,56,67}
for num in set1:
    print(num)

34
67
23
56
12
45

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [31]:
set1 = {12,23,34,45,56,67}
while set1:
    print(set1)
    set1.pop()

{34, 67, 23, 56, 12, 45}
{67, 23, 56, 12, 45}
{23, 56, 12, 45}
{56, 12, 45}
{12, 45}
{45}

# Dict

Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

In [32]:
positive_dict = {num : num**2 for num in range(1,11)}
print(positive_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

Print the value of the key 5 and the keys of the dictionary created in Assignment 1.

In [33]:
print(positive_dict[5])

25

Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

In [34]:
positive_dict[11] = 121
print(positive_dict)
del positive_dict[1]
print(positive_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}
{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

Iterate over the dictionary created in Assignment 1 and print each key-value pair.

In [35]:
for key, value in positive_dict.items():
    print(f"{key} == {value}")

2 == 4
3 == 9
4 == 16
5 == 25
6 == 36
7 == 49
8 == 64
9 == 81
10 == 100
11 == 121

Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

In [36]:
cube_dict = {num : num**3 for num in range(1,11)}
print(cube_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

In [37]:
first_5 = {num : num**2 for num in range(1,6)}
print(first_5)
next_5 = {num : num**2 for num in range(6,11)}
print(next_5)
merge_dict = {**first_5,**next_5}
print(merge_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

In [38]:
student = {
    "name" : "Rit",
    "age" : 13,
    "grades": {
        "math" : 97,
        "science": 95,
        "english" :87
    }
}
print(student)

{'name': 'Rit', 'age': 13, 'grades': {'math': 97, 'science': 95, 'english': 87}}

Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

In [39]:
table = {num:[num*i for i in range(1,6)] for num in range(1,6)}
print(table)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

In [40]:
square_pair = {num:(num, num**2)  for num in range(1,6)}
print(square_pair)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

In [41]:
square_dict = {num:num**2  for num in range(1,6)}
list_of_tuple = list(square_dict.items())
print(list_of_tuple)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

In [42]:
square_dict = {num:num**2  for num in range(1,11)}
even_keys = {key:value for key,value in square_dict.items() if key%2==0}
print(even_keys)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

In [43]:
def charCount(text:str):
    split_text = text.split()
    char_count_dict = {word:len(word) for word in split_text}
    return char_count_dict
text = "Python is Awesome"
charCount(text)

{'Python': 6, 'is': 2, 'Awesome': 7}

Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.

In [44]:
import json
book = {
    "title": "1984",
    "author": "George Orwell",
    "year": 1949,
    "genre": "Dystopian"
}
book_json = json.dumps(book)
print(book_json)

{"title": "1984", "author": "George Orwell", "year": 1949, "genre": "Dystopian"}