# List

List comprehensions are a powerful and concise way to create lists in Python. They are syntactically compact and can replace more verbose looping constructs. Understanding the syntax of list comprehensions will help you write cleaner and more efficient Python code.

In [1]:
lst = []
print(type(lst))

<class 'list'>

In [2]:
lst   = ["sushil","saket","suman"]
print(lst)

['sushil', 'saket', 'suman']

In [3]:
mixed_lst = ["Sushil",27,5.9,True]
print(mixed_lst)

['Sushil', 27, 5.9, True]

In [4]:
# Accessing elements of list
fruits = ["apple","banana","cherry","dates","grapes","guava","kiwi","orange","papaya"]
print(fruits[1])

banana

In [5]:
fruits.append("coconut")
print(fruits)

['apple', 'banana', 'cherry', 'dates', 'grapes', 'guava', 'kiwi', 'orange', 'papaya', 'coconut']

In [6]:
fruits[2] = "mango"
print(fruits)

['apple', 'banana', 'mango', 'dates', 'grapes', 'guava', 'kiwi', 'orange', 'papaya', 'coconut']

In [7]:
print(fruits[1:])

['banana', 'mango', 'dates', 'grapes', 'guava', 'kiwi', 'orange', 'papaya', 'coconut']

In [8]:
print(fruits[:3])

['apple', 'banana', 'mango']

In [9]:
print(fruits[2:4])

['mango', 'dates']

In [10]:
print(fruits[-1])

coconut

In [11]:
print(fruits[-3:-1])

['orange', 'papaya']

In [12]:
print(fruits[3:-3])

['dates', 'grapes', 'guava', 'kiwi']

In [13]:
print(fruits[::2])

['apple', 'mango', 'grapes', 'kiwi', 'papaya']

In [14]:
print(fruits[0:9:2])

['apple', 'mango', 'grapes', 'kiwi', 'papaya']

In [15]:
fruits.remove("banana") # removeing first occurance of banana
print(fruits)

['apple', 'mango', 'dates', 'grapes', 'guava', 'kiwi', 'orange', 'papaya', 'coconut']

In [16]:
poped = fruits.pop() # remove and return element at last index
print(poped)
print(fruits)

coconut
['apple', 'mango', 'dates', 'grapes', 'guava', 'kiwi', 'orange', 'papaya']

In [17]:
fruits.reverse()
print(fruits)

['papaya', 'orange', 'kiwi', 'guava', 'grapes', 'dates', 'mango', 'apple']

In [18]:
## Slicing List
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
### Iterating Over List

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [20]:
## Iterating with index
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [21]:
## List comprehension
lst=[]
for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [22]:
short_lst =[x**2 for x in range(10)]
short_lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
### List Comprehension with Condition
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

#### List Comprehension
Basics Syantax [expression for item in iterable]\
with conditional logic [expression for item in iterable if condition]\
Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [24]:
even_numbers=[num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [25]:
## Nested List Comphrension

lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[[i,j] for i in lst1 for j in lst2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [26]:
## List Comprehension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]
print(lengths)  # Output: [5, 5, 6, 4, 13]

[5, 5, 6, 4, 13]

# Tuple
Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.


Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.

In [27]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [28]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [29]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [30]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [31]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [32]:
print(numbers[2])
print(numbers[-1])

3
6

In [33]:
numbers[0:4]

(1, 2, 3, 4)

In [34]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [35]:
## Tuple Operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [36]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [37]:
numbers *3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [38]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="Sushil"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Sushil', 3, 4, 5]

In [39]:
tpl=(1,2,3,4,5)
print(tpl)

tpl[1]="Sushil"
print(tpl)

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [40]:
numbers

(1, 2, 3, 4, 5, 6)

In [41]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [42]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [43]:
##unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [44]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [45]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [46]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [47]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [48]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

# Set
Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

Sets are a powerful and flexible data type in Python that provide a way to store collections of unique elements. They support various operations such as union, intersection, difference, and symmetric difference, which are useful for mathematical computations. Understanding how to use sets and their associated methods can help you write more efficient and clean Python code, especially when dealing with unique collections and membership tests.

In [56]:
##create a set
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [57]:
my_empty_set=set()
print(type(my_empty_set))

<class 'set'>

In [58]:
my_set=set([1,2,3,4,5,6])
print(my_set)

{1, 2, 3, 4, 5, 6}

In [59]:
my_empty_set=set([1,2,3,6,5,4,5,6])
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [60]:
## Basics Sets Operation
## Adiing and Removing Elements
my_set.add(7)
print(my_set)
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [61]:
## Remove the elements from a set
my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [62]:
my_set.remove(10)

KeyError: 10

In [63]:
my_set.discard(11)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [64]:
## pop method
removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 6, 7}

In [65]:
## clear all the elements
my_set.clear()
print(my_set)

set()

In [66]:
## Set Memebership test
my_set={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [67]:
## MAthematical Operation
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

### Union
union_set=set1.union(set2)
print(union_set)

## Intersection
intersection_set=set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [68]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Difference 
print(set1.difference(set2))

{1, 2, 3}

In [69]:
set1

{1, 2, 3, 4, 5, 6}

In [70]:
set2.difference(set1)

{7, 8, 9}

In [71]:
## Symmetric Difference
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [72]:
## Sets Methods
set1={1,2,3,4,5}
set2={3,4,5}

## is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
True

In [73]:
lst=[1,2,2,3,4,4,5]

set(lst)

{1, 2, 3, 4, 5}

In [74]:
### Counting Unique words in text

text="In this tutorial we are discussing about sets"
words=text.split()
print(words)
## convert list of words to set to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

['In', 'this', 'tutorial', 'we', 'are', 'discussing', 'about', 'sets']
{'sets', 'tutorial', 'this', 'we', 'about', 'discussing', 'are', 'In'}
8

# Dictionaries

Dictionaries are unordered collections of items. They store data in key-value pairs. Keys must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any type.

Dictionaries are powerful tools in Python for managing key-value pairs. They are used in a variety of real-world scenarios, such as counting word frequency, grouping data, storing configuration settings, managing phonebooks, tracking inventory, and caching results. Understanding how to leverage dictionaries effectively can greatly enhance the efficiency and readability of your code.

In [75]:
## Creating Dictionaries
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [76]:
empty_dict=dict()
empty_dict

{}

In [77]:
student={"name":"Sushil","age":27,"grade":51}
print(student)
print(type(student))

{'name': 'Sushil', 'age': 27, 'grade': 51}
<class 'dict'>

In [78]:
# Single key is always used
student={"name":"Sushil","age":27,"grade":51}
print(student)

{'name': 'Sushil', 'age': 27, 'grade': 51}

In [79]:
## accessing Dictionary Elements
student={"name":"Sushil","age":27,"grade":'A'}
print(student)

{'name': 'Sushil', 'age': 27, 'grade': 'A'}

In [80]:
## Accessing Dictionary elements
print(student['grade'])
print(student['age'])

## Accessing using get() method
print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name',"Not Available"))

A
27
A
None
Not Available

In [81]:
## Modifying Dicitonary Elements
## Dictionary are mutable,so you can add, update or delete elements
print(student)

{'name': 'Sushil', 'age': 27, 'grade': 'A'}

In [82]:
student["age"]=33  ##update value for the key
print(student)
student["address"]="India" ## added a new key and value
print(student)

{'name': 'Sushil', 'age': 33, 'grade': 'A'}
{'name': 'Sushil', 'age': 33, 'grade': 'A', 'address': 'India'}

In [83]:
del student['grade'] ## delete key and value pair

print(student)

{'name': 'Sushil', 'age': 33, 'address': 'India'}

In [84]:
## Dictionary methods

keys=student.keys() ##get all the keys
print(keys)
values=student.values() ##get all values
print(values)

items=student.items() ##get all key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Sushil', 33, 'India'])
dict_items([('name', 'Sushil'), ('age', 33), ('address', 'India')])

In [85]:
## shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'Sushil', 'age': 33, 'address': 'India'}
{'name': 'Sushil', 'age': 33, 'address': 'India'}

In [86]:

student["name"]="Anki"
print(student)
print(student_copy)

{'name': 'Anki', 'age': 33, 'address': 'India'}
{'name': 'Anki', 'age': 33, 'address': 'India'}

In [87]:
student_copy1=student.copy() ## deep copy
print(student_copy1)
print(student)

{'name': 'Anki', 'age': 33, 'address': 'India'}
{'name': 'Anki', 'age': 33, 'address': 'India'}

In [88]:
student["name"]="Manish"
print(student_copy1)
print(student)

{'name': 'Anki', 'age': 33, 'address': 'India'}
{'name': 'Manish', 'age': 33, 'address': 'India'}

In [89]:
### Iterating Over Dictionaries
## You can use loops to iterate over dictionatries, keys,values,or items

## Iterating over keys
for keys in student.keys():
    print(keys)

name
age
address

In [90]:
## Iterate over values
for value in student.values():
    print(value)

Manish
33
India

In [91]:
## Iterate over key value pairs
for key,value in student.items():
    print(f"{key}:{value}")

name:Manish
age:33
address:India

In [92]:
## Nested Disctionaries
students={
    "student1":{"name":"Harry","age":32},
    "student2":{"name":"Potter","age":35}
}
print(students)

{'student1': {'name': 'Harry', 'age': 32}, 'student2': {'name': 'Potter', 'age': 35}}

In [93]:
## Access nested dictionaries elementss
print(students["student2"]["name"])
print(students["student2"]["age"])

Potter
35

In [94]:
students.items()

dict_items([('student1', {'name': 'Harry', 'age': 32}), ('student2', {'name': 'Potter', 'age': 35})])

In [95]:
## Iterating over nested dictionaries
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Harry', 'age': 32}
name:Harry
age:32
student2:{'name': 'Potter', 'age': 35}
name:Potter
age:35

In [96]:
## Dictionary Comphrehension
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [97]:
## Condition dictionary comprehension
evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [98]:
## Practical Examples

## USe a dictionary to count he frequency of elements in list

numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [99]:
## Merge 2 dictionaries into one

dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}